* {
  margin:0;
  padding:0;
}
body {
  background:#666;
  color:#fff;
  font-family: arial,sans-serif;
  font-size:xx-large;
}
a {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
a svg {
  color: black;
}
div {
  margin-top: 3em;
  width: 33.33%;
  float: left;
}
ul,li {
  list-style:none;
}
ul li {
  text-decoration:none;
  color:#000;
  height: 8em;
  padding: 0.5em;
}
ul li textarea {
  font-family: arial,sans-serif;
  font-size:xx-large;
  width: 100%;
  height: inherit;
  resize: none;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  background: none;
  border: none;
}
ol {
  text-align:center;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 1000;
  background:#666;
}
ol li {
  display: inline-block;
  width: 100%;
}
ol li button {
  width: 100%;
  color:#fff;
  background: none;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: arial,sans-serif;
  font-size:xx-large;
  text-transform: uppercase;
}
ol li input[type="color"] {
  border: none;
  background: none;
  height: 3em;
}
span {
  display: none;
}